<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Dishes At Venues

    <a data-toggle="collapse" href="#venue_dishes_at_venues_new_form">
      Add unique listing
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @venue.dishes_at_venues.each do |unique_listing| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to unique_listing, unique_listing %>

        <%= link_to unique_listing, method: :delete, data: { confirm: "Do you really want to delete this unique_listing" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="venue_dishes_at_venues_new_form">
        <%= render partial: "venues/venue_dishes_at_venues_new_form" %>
      </div>
    </div>

  </ul>
</div>
